<title>{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}</title>

<link rel="icon" href="/favicon.ico" sizes="48x48">
<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a2673">

<link rel="author" href="{{ "/about" | absURL }}" type="text/html">
<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" type="text/html">
<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" type="text/css">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="msapplication-TileColor" content="#5a2673">
<meta name="theme-color" content="#5a2673">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{if .Site.Params.AuthorName }}
<meta name="author" content="{{ .Site.Params.AuthorName }}">
{{end}}
{{if (or .Description .Summary) }}
<meta name="description" content="{{ .Description | default .Summary }}" />
{{end}}
{{if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords ", " ", " }}" />
{{end}}
{{ $cover := (.Page.Resources.GetMatch "cover.*") }}
<meta name="twitter:card" content="summary">
{{if .Site.Params.Twitter }}
<meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
{{end}}
<meta name="twitter:title" content="{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}">
{{if (or .Description .Summary) }}
<meta name="twitter:description" content="{{ .Description | default .Summary }}">
{{end}}
<meta name="twitter:image" content="{{if $cover }}{{ $cover.Permalink }}{{else}}{{ "/images/logo.svg" | absURL }}{{end}}">

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Site.Title }}: {{if .Site.Params.AuthorName }}{{ .Site.Params.AuthorName }} – {{end}}{{ .Title }}" />
{{if (or .Description .Summary) }}
<meta property="og:description" content="{{ .Description | default .Summary }}" />
{{end}}
<meta property="og:image" content="{{if $cover }}{{ $cover.Permalink }}{{else}}{{ "/images/logo.svg" | absURL }}{{end}}" />
